version: '2.3'
services:
  web:
    build: .
    ports:
      - "5001:5001"
    volumes:
      - ./app:/app
    environment:
      FLASK_APP: main.py
      FLASK_RUN_PORT: 5000
    command: flask run


